<!DOCTYPE html>
<html>
<head></head>

<body>
    <form action="#" th:action="@{/process_register}" th:object="${user}" method="post">
        <label for="email">Email:</label><br>
        <input type="text" placeholder="Enter email" name="email" id="email"><br>

        <label for="name">Name:</label><br>
        <input type="text" placeholder="Enter name" name="name" id="name"><br>

        <label for="password">Password:</label><br>
        <input type="text" placeholder="Enter password" name="password" id="password"><br>

        <label for="repeatPassword">Repeat Password:</label><br>
        <input type="text" placeholder="Repeat password" name="repeatPassword" id="repeatPassword"><br>

        I read and accepted <a href="/terms_and_conditions" target="_blank">Terms & Conditions</a><br>

        <input type="submit" value="              Register              "><br>

        <label>Already have and account? <a href="sign_in">Sign in</a></label>
    </form>
</body>
</html>