<!DOCTYPE html>
<form>
    <label for="email">Email:</label><br>
    <input type="text" placeholder="Enter email" name="email" id="email"><br>

    <label for="nickName">Nickname:</label><br>
    <input type="text" placeholder="Enter nickname" name=nickname id="nickname"><br>

    <label for="password">Password:</label><br>
    <input type="text" placeholder="Enter password" name="password" id="password"><br>

    <label for="repeatPassword">Repeat Password:</label><br>
    <input type="text" placeholder="Repeat password" name="repeatPassword" id="repeatPassword"><br>

    <input type="checkbox" id="termsAndConditions">
    <label for="termsAndConditions">I accept <a href="/terms_and_conditions" target="_blank">Terms & Conditions</a></label><br>

    <input type="submit" value="              Register              "><br>

    <label>Already have and account? <a href="sign_in">Sign in</a></label>
</form>
</html>